In [33]:
# 2) Import the Pandas package.
import pandas as pd
import os

# 3) Load data into separate DataFrames. Work with at least 2 files for this problem.
territory_data_1 = pd.read_csv(os.path.join("./csv","2020-04-11_Switzerland.csv"))
territory_data_2 = pd.read_csv(os.path.join("./csv","US", "2020-04-11_California.csv"))

# 4) Check the data-type of each of column by outputting the dttypes attribute of your DataFrame
territory_data_1.dtypes

Territory              object
Retail & recreation    object
Grocery & pharmacy     object
Parks                  object
Transit stations       object
Workplace              object
Residential            object
dtype: object

In [34]:
# 5) example of sorting one of your DataFrames by a column. Give the top-15 entries in descending order.
territory_data_1.sort_values(by="Parks", ascending=False).head(15)

,Territory,Retail & recreation,Grocery & pharmacy,Parks,Transit stations,Workplace,Residential
17,Schaffhausen,-63%,+30%,Not enough data for this date,-34%,-39%,+2%
2,Appenzell_Ausserrhoden,-62%,+13%,Not enough data for this date,-21%,-33%,Not
3,Appenzell_Innerrhoden,-80%,Not enough data for this date,Not enough data for this date,Not enough data for this date,-84%,Not
23,Uri,-74%,+0%,Not enough data for this date,-54%,-48%,Not
7,Canton_of_Zug,-68%,+46%,Not enough data for this date,-40%,-44%,+22%
10,Glarus,-87%,-6%,Not enough data for this date,+5%,-35%,Not
12,Jura,-82%,+12%,Not enough data for this date,-34%,-40%,+14%
15,Nidwalden,-62%,+0%,-5%,-50%,-46%,Not
16,Obwalden,-83%,-4%,-49%,-40%,-40%,Not
24,Valais,-85%,-8%,-35%,-60%,-52%,+18%
11,Grisons,-85%,-15%,-35%,-65%,-49%,+14%
14,Neuchâtel,-70%,+8%,-18%,-37%,-47%,+23%
22,Ticino,-83%,-21%,-18%,-50%,-50%,+20%
1,Aargau,-74%,+19%,+99%,-32%,-36%,+15%
26,Zurich,-78%,+20%,+96%,-55%,-43%,+15%

In [57]:
# 6) Filtering

# a) Give an example for vertical filtering/slicing where you select a subset of the
# columns. This corresponds to a projection in a SELECT statement.
vertical_slice_1 = territory_data_1[['Transit stations', 'Workplace']]
vertical_slice_1.head(15)

                 Transit stations Workplace
0                            -47%      -41%
1                            -32%      -36%
2                            -21%      -33%
3   Not enough data for this date      -84%
4                            -63%      -37%
5                            -33%      -37%
6                            -50%      -36%
7                            -40%      -44%
8                            -37%      -41%
9                            -74%      -49%
10                            +5%      -35%
11                           -65%      -49%
12                           -34%      -40%
13                           -47%      -39%
14                           -37%      -47%

In [58]:
# b) Give an example for vertical filtering/slicing where you select a subset of the
# rows in your DataFramer according to some criteria. This corresponds to WHERE
# in SELECT statement
numbers = ["-15%", "+30%"]

horizontal_slice_1 = territory_data_1[territory_data_1["Grocery & pharmacy"].isin(numbers)]
horizontal_slice_1.head()

,Territory,Retail & recreation,Grocery & pharmacy,Parks,Transit stations,Workplace,Residential
11,Grisons,-85%,-15%,-35%,-65%,-49%,+14%
17,Schaffhausen,-63%,+30%,Not enough data for this date,-34%,-39%,+2%

In [64]:
# 7) Merge 2 dataFrames
concat_territory_1 = pd.concat([vertical_slice_1, horizontal_slice_1], ignore_index=True)
concat_territory_1.tail(15)

,Transit stations,Workplace,Territory,Retail & recreation,Grocery & pharmacy,Parks,Residential
14,-37%,-47%,NaN,NaN,NaN,NaN,NaN
15,-50%,-46%,NaN,NaN,NaN,NaN,NaN
16,-40%,-40%,NaN,NaN,NaN,NaN,NaN
17,-34%,-39%,NaN,NaN,NaN,NaN,NaN
18,-26%,-36%,NaN,NaN,NaN,NaN,NaN
19,-42%,-35%,NaN,NaN,NaN,NaN,NaN
20,-25%,-36%,NaN,NaN,NaN,NaN,NaN
21,-29%,-24%,NaN,NaN,NaN,NaN,NaN
22,-50%,-50%,NaN,NaN,NaN,NaN,NaN
23,-54%,-48%,NaN,NaN,NaN,NaN,NaN
24,-60%,-52%,NaN,NaN,NaN,NaN,NaN
25,-49%,-46%,NaN,NaN,NaN,NaN,NaN
26,-55%,-43%,NaN,NaN,NaN,NaN,NaN
27,-65%,-49%,Grisons,-85%,-15%,-35%,+14%
28,-34%,-39%,Schaffhausen,-63%,+30%,Not enough data for this date,+2%

In [100]:
Texas_df = pd.read_csv(os.path.join("./csv","US", "2020-04-11_Texas.csv"))
Cali_df = pd.read_csv(os.path.join("./csv","US", "2020-04-11_California.csv"))

In [101]:
#Texas_df.head()

In [102]:
#Cali_df.tail()

In [103]:
merged_left = pd.merge(left=Texas_df, right=Cali_df, left_on='Grocery & pharmacy', right_on='Grocery & pharmacy', how='left')

# The LEFT JOIN produces a complete set of records from DataFrame A (left DataFrame), with the matching records (where available) in DataFrame B (right DataFrame). If there is no match, the left side will contain null. You have to pass left in the how argument of merge() function to do left join:
# here, Texas, California, Humboldt_County(CA) and Sonoma_County (CA) have Grocery & pharmacy value of -14%
# same for Angelina_County(TX), Solano_County(CA), Stanislaus_County(CA), Sutter_County(CA) with value of -4%	
merged_left.head(15)

,Territory_x,Retail & recreation_x,Grocery & pharmacy,Parks_x,Transit stations_x,Workplace_x,Residential_x,Territory_y,Retail & recreation_y,Parks_y,Transit stations_y,Workplace_y,Residential_y
0,Texas,-45%,-14%,-54%,-49%,-38%,+16%,California,-48%,-46%,-53%,-40%,+18%
1,Texas,-45%,-14%,-54%,-49%,-38%,+16%,Humboldt_County,-45%,-18%,-55%,-35%,+12%
2,Texas,-45%,-14%,-54%,-49%,-38%,+16%,Sonoma_County,-50%,-59%,-49%,-41%,+16%
3,Anderson_County,-35%,-2%,Not enough data for this date,Not enough data for this date,-24%,+16%,Kern_County,-39%,-24%,-37%,-29%,+13%
4,Anderson_County,-35%,-2%,Not enough data for this date,Not enough data for this date,-24%,+16%,Tulare_County,-36%,-47%,-32%,-29%,+12%
5,Andrews_County,-45%,-40%,Not enough data for this date,-13%,-36%,Not,NaN,NaN,NaN,NaN,NaN,NaN
6,Angelina_County,-46%,-4%,-20%,-38%,-29%,+13%,Solano_County,-43%,-18%,-39%,-35%,+15%
7,Angelina_County,-46%,-4%,-20%,-38%,-29%,+13%,Stanislaus_County,-42%,-15%,-27%,-32%,+13%
8,Angelina_County,-46%,-4%,-20%,-38%,-29%,+13%,Sutter_County,-37%,-19%,-20%,-37%,+12%
9,Aransas_County,-45%,-31%,-57%,Not enough data for this date,-27%,+10%,NaN,NaN,NaN,NaN,NaN,NaN
10,Archer_County,Not,Not enough data for this date,Not enough data for this date,Not enough data for this date,-42%,Not,NaN,NaN,NaN,NaN,NaN,NaN
11,Atascosa_County,-22%,-4%,Not enough data for this date,-50%,-25%,+22%,Solano_County,-43%,-18%,-39%,-35%,+15%
12,Atascosa_County,-22%,-4%,Not enough data for this date,-50%,-25%,+22%,Stanislaus_County,-42%,-15%,-27%,-32%,+13%
13,Atascosa_County,-22%,-4%,Not enough data for this date,-50%,-25%,+22%,Sutter_County,-37%,-19%,-20%,-37%,+12%
14,Austin_County,-33%,-22%,Not enough data for this date,Not enough data for this date,-29%,+1%,NaN,NaN,NaN,NaN,NaN,NaN

In [109]:
merged_left.to_json(os.path.join("./json_test","2020-04-11_Texas_and_Cali.json"))