In [81]:
import pandas as pd
import os
file_path = os.path.join("./BigramCount", "output_EMR", "combined.txt")
price_and_prejudice_df = pd.read_csv(file_path, sep="\s+", header = None)

price_and_prejudice_df.columns = ["Bigram", "Num_appearance"] 

top_ten_bigrams = price_and_prejudice_df.sort_values(by="Num_appearance", ascending=False).head(10)

top_ten_bigrams["Num_appearance"].sum()
# top_ten_bigrams.sum()

2873

In [82]:
cumulative_frequency_top_ten = float(top_ten_bigrams["Num_appearance"].sum())/\
                                float(price_and_prejudice_df["Num_appearance"].sum())

print("Cumulative frequency of top ten is {:0.4f}\n".format(cumulative_frequency_top_ten))

Cumulative frequency of top ten is 0.0249

In [83]:
price_and_prejudice_df.sort_values(by="Num_appearance", ascending=False).head(10)

           Bigram  Num_appearance
32002    of_&_the             456
46238     to_&_be             420
22927    in_&_the             363
21960      I_&_am             299
31657    of_&_her             253
28884  Mr_&_Darcy             250
46817    to_&_the             241
31664    of_&_his             215
17986  had_&_been             195
22052    I_&_have             181

In [84]:
appear_once = price_and_prejudice_df[price_and_prejudice_df["Num_appearance"]==1]
appear_once.tail(10)

                Bigram  Num_appearance
53080  yourself_&_when               1
53082  yourself_&_your               1
53083  yourselves_&_Do               1
53084  yourselves_&_so               1
53086       youth_&_as               1
53087   youth_&_health               1
53088      youth_&_the               1
53089    youth_&_there               1
53090      youth_&_was               1
53091      youths_&_as               1

In [90]:
#  What are the five most frequent words following the word "light"? What is the frequency of observing each word?
bigram_with_light = price_and_prejudice_df[price_and_prejudice_df["Bigram"].str.match('light_&_')]
bigram_with_light.sort_values(by="Num_appearance", ascending=False).head(10)

                   Bigram  Num_appearance
25826          light_&_in               2
25817           light_&_A               1
25818         light_&_and               1
25819          light_&_as               1
25820       light_&_began               1
25821        light_&_does               1
25822        light_&_have               1
25823          light_&_He               1
25824           light_&_I               1
25825  light_&_importance               1